*.apk
*.jpg
*.gif
*.wav
*.mp3
*.ogg
gen
bin
out
*.iws
workspace.xml
dataSources.xml
sqlDataSources.xml
dynamic.xml
.project
.classpath
.settings
*.o
*.idb
*.pdb
*.suo
*.sdf
*.user
*.dotCover
ipch
Debug
Release
*.obj
*.tlog
*.asv